@import 'variables';

@mixin breakpoints($media) {
    @if $media == mobileP  {
        @media only screen and (min-width: 320px) and (orientation: portrait) { @content; }    
    }
    @else if $media == mobileL {
        @media screen and (min-width: 720px) and(orientation: landscape){  @content; }
    }
    @else if $media == tabletP  {
        @media only screen and (min-width: 810px) { @content; }
    }
    @else if $media == tabletL  {
        @media only screen and (min-width: 1080px) { @content; }
    }
    @else if $media == LaptopWithMdpi  {
        @media only screen and (min-width: 1280px) { @content; }
    }
    @else if $media == Laptop  {
        @media only screen and (min-width: 1920px) { @content; }
    }
}

@mixin articles($h2FontSize, $h2fontWeight) {
    h2 {
        font-size: $h2FontSize;
        font-weight: $h2fontWeight;
    }

    p{
        word-wrap: break-word;
    }
}


@mixin truncateArticle($clamp){
    overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $clamp;
}

@mixin forBtns($h: 40px,$w: 50px, $borderR:30px) {
        height: $h;
        width: $w;
        border-radius: $borderR;
}

@mixin centerFlexCol($g) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $g;
}
