@import 'mixins';
@import 'variables';

/* Styling the Navlink class. */
.Navlink{
    display: flex;
    gap: 10px;
    
    &>a{
        font-size: 1.4em;
        color: $divisibleFontColor;
        
        
    }

    .active{
        color: black;
    }
}