@import 'variables';

.App {
    font-family: $primaryFont;
    //background-color: rgb(74, 74, 74);
    .img-carousel-container {
        img{
            height: 600px!important;
            width: 100%;
            object-fit: cover!important;
            object-position: center!important;
        }
    }

    ul, dl, ol {
        margin-bottom: 0px!important;
        padding-left: 0px!important ;
    }

    li{
        list-style: none;
    }

    a{
        color: #5dcbf3;
        text-decoration: none;
    }
}